{% extends 'layout.html.twig' %}
{% block content %}
    <form action="" method="post" class="container shadow-lg  rounded text-center bg-white mb-5">
        <fieldset>
            <legend>Création de Playlist :</legend>
            <div class="form-group">
                <label for="playlistName">Nom de le playlist :</label>
                <input type="text" name="playlistName">
                <button type="submit" name="ajouterPL" class="btn btn-outline-success btn-lg m-5">Ajouter ! <i class="far fa-paper-plane"></i></button>
                {% if errors.playlistName is defined %}
                    <div class="alert alert-warning">{{ errors.playlistName }} </div>
                {% endif %}
            </div>
        </fieldset>
    </form>
    <div class="wave-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ffb6c1" fill-opacity="1" d="M0,288L1440,224L1440,0L0,0Z"></path>
        </svg>
    </div>

{% endblock %}


