{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/_songStyle.css">
{% endblock %}

{% block content %}

    <div class=" container-sm shadow-lg mt-5 bg-white pb-2 mb-4 text-sm-center">
        <h2 class="text-center pt-5 mb-5">{{ songs[0].playlistName | capitalize}}</h2>
        <ul class="mb-5 text-center">
            {% for song in songs%}
                <li class="pb-4 mr-4 song  border border-white rounded d-lg-flex flex-lg-row justify-content-between list-dec iframeCardHover" title="Cliquez pour faire apparaitre le clip">
                    <div class="text-left m-5 text-sm-center">
                        <h4>{{ song.songName | capitalize }} <small><i class="fas fa-angle-right"></i></small></h4>
                        <p>{{ song.content }}</p>
                    </div>
                    <iframe width="560" height="315" src="{{ song.url }}" class="hidden mt-lg-3 mr-lg-3 ml-lg-3" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="diagonal-bg">
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='100%' y1='0' x2='1' y2='100%' stroke='#038c5a' stroke-width='30%'/></svg>
    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript" src="/assets/js/iframeNotHidden.js"></script>

{% endblock %}