{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/_homeStyle.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center m-5">Les dernières playlists créées</h2>
    </div>
    {% for playlist in playlists %}
        <div class="media border rounded shadow-lg p-3 mb-5 bg-white p-3 container d-flex flex-column align-items-center
         d-md-flex flex-md-row align-items-md-center">
            <div class="media-body ml-lg-5 ml-sm-0 ml-md-0 ">
                <h5 class="mt-0">
                    <a class="list-dec" href="/song/showone/{{ playlist.user_name }}">
                        {{ playlist.user_name |capitalize }} <span>et sa playlist</span></a></h5>
                <p class="mt-5">Sa {{ playlist.qContent }}</p>
            </div>
            <iframe width="560" height="315"   src="https://www.youtube.com/embed/{{ playlist.url }}"   allow="accelerometer; autoplay;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    {% endfor %}
    <div class="diagonal-bg">
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'>
            <line x1='100%' y1='0' x2='1' y2='100%' stroke='#ffb121' stroke-width='30%'/>
        </svg>
    </div>
{% endblock %}
