{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container">
        <h1 class="text-center m-5">Les dernières playlists créées</h1>
    </div>

    <div class="media border rounded shadow-lg p-3 mb-5 bg-white p-3 container">
        <div class="media-body ml-lg-5 ml-sm-0 ml-md-0">
            <h5 class="mt-0 ml-lg-5 ml-sm-0 ml-md-0"><a class="text-dark" href="https://www.google.com/">Roger et sa playlist :</a></h5>
            <p>Sa meilleure chanson de tous les temps <i class="fas fa-arrow-right"></i></p>
        </div>
        <iframe width="560" height="315"   src="https://www.youtube.com/embed/ZyhrYis509A"   allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="media border rounded shadow-lg p-3 mb-5 bg-white p-3 container">
        <div class="media-body ml-lg-5 ml-sm-0 ml-md-0">
            <h5 class="mt-0 ml-lg-5 ml-sm-0 ml-md-0"><a class="text-dark" href="#">Martine et sa playlist :</a></h5>
            <p>Sa meilleure chanson de tous les temps <i class="fas fa-arrow-right"></i></p>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/s3O1Xro7oAI"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="media border rounded shadow-lg p-3 mb-5 bg-white p-3 container">
        <div class="media-body ml-lg-5 ml-sm-0 ml-md-0">
            <h5 class="mt-0 ml-lg-5 ml-sm-0 ml-md-0"><a class="text-dark" href="#">Bobby et sa playlist :</a></h5>
            <p>Sa meilleure chanson de tous les temps <i class="fas fa-arrow-right"></i></p>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/r7qovpFAGrQ"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

{% endblock %}
