/* css formulaire pour ajouter une question */
* {
    margin: 0px;
    padding: 0px;
}

.login {
    background: linear-gradient(#0099ff 0%, #fff 100%);
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.account-login {
    width: 500px;
}
.form-control:focus {
    box-shadow: none;
}
p a {
    padding-left: 2px;
}
.account-login h1 {
    font-size: 25px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}
.login-form input {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #a39e9e;
    padding: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
    height: 63px;
    border-radius: 0px;
}
.login-form {
    background: #fff;
    float: left;
    width: 100%;
    padding: 40px;
    border-radius: 5px;
}
button.btn {
    width: 100%;
    background: #009cff;
    font-size: 20px;
    padding: 11px;
    color: #fff;
    border: 0px;
    margin: 10px 0px 20px;
}
.btn:hover{
    color: #fff;
    opacity: 0.8;
}
p {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
}



@media (max-width: 767px){
    .account-login {
        width: 90%;
    }
}