.hidden{
    display: none;
}
.display{
    display: block;
}
.iframeCardHover:hover{
    background-color: goldenrod ;
    cursor: pointer;
}


@media screen and (max-width: 992px) {
    .song iframe {
        width: 250px;
        height: 150px;
        border-top-color: white;
    }
}
