body {
    font-family: 'Roboto', sans-serif;
}
a, .list-dec{
    text-decoration: none;
    list-style: none;
}

/*NAVBAR*/
.navbar-brand img {
    height: 70px;
}
.navbar >.navbar-collapse .navbar-nav > .nav-item > .pink-hover:hover{
    font-weight: bold;
    color: #F26DC4 ;
}
.navbar >.navbar-collapse .navbar-nav > .nav-item > .blue-hover:hover {
    font-weight: bold;
    color: #1B78F2;
}
.navbar .collapse > .nav-item > .green-hover:hover {
    font-weight: bold;
    color: #038C5A;
}
.navbar .collapse > .nav-item > .dropdown .green-hover:hover{
    font-weight: bold;
    color: #038C5A;
}
.navbar .collapse > .nav-item > .purple-hover:hover {
    font-weight: bold;
    color: #7E338F;
}

.media:hover, .form-group:hover, .shadow-lgs input:hover {
    box-shadow: 0 10px 20px 6px rgba(0,0,0,0.2) !important;
}


/* FOOTER */
.footer{
    height: 20vh;
}
.footer >p >img{
    width:25px;
}

/* DIAGONAL BACKGROUND */
.diagonal-bg{
    position: fixed;
    top:97px;
    z-index: -1;
    width: 100%;
    height: 100%;
}


.wave-container {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 97px;
}

.no-error {
    text-align: center;
}

/*Add Playlist*/
.moving-btn{
    transition: transform .2s;
}
.moving-btn:hover{
    transform: scale(1.2) rotate(-10deg) ;
}
.small{
    width:40%;
}


