body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
    height: 70px;
}

 .pink-hover:hover {
    color: #F26DC4 !important;
}
.blue-hover:hover {
    color: #1B78F2 !important;
}
.green-hover:hover {
    color: #038C5A !important;
}
.purple-hover:hover {
    color: #7E338F !important;
}

.footer{
    height: 20vh;
}
a{
    text-decoration: none;
    list-style: none;
}

