<form action="index.html.twig" method="post">
    <div>
        <label for="addplaylistname">Nom de la playlist :</label>
        <input type="text" id="addplaylistname" name="user_playlistname">
    </div>
    <div>
        <label for="addplaylistquestion">Quelle est pour vous la meilleure chanson de tous les temps ?</label>
        <input type="text" id="addplaylistquestion" name="user_playlistquestion">
        <textarea id="addplaylistquestion" placeholder="Placez le lien de la vidéo ici."></textarea>
    </div>
    <div>
        <label for="addplaylistquestion">Quelle est pour vous la meilleure chanson pour faire du sport ?</label>
        <input type="text" id="addplaylistquestion" name="user_playlistquestion">
        <textarea id="addplaylistquestion" placeholder="Placez le lien de la vidéo ici."></textarea>
    </div>
    <div>
        <label for="addplaylistquestion">Quelle est votre chanson plaisir-coupable ?</label>
        <input type="text" id="addplaylistquestion" name="user_playlistquestion">
        <textarea id="addplaylistquestion" placeholder="Placez le lien de la vidéo ici."></textarea>
    </div>
    <div>
        <button type="submit">Ajouter ma playlist !</button>
    </div>
</form>