<footer class=" container-fluid footer border-top border-success">
    <div class=" d-flex justify-content-between align-items-center">
        <div class="mt-4 ">
            <p class="text-wrap ">Made Wildly with Love by :</p>
            <div>
                <div>
                    <a class="text-dark text-reset ml-lg-4 " href="https://www.linkedin.com/in/amelie-g-9a7730198/" target="_blank">Amélie</a>
                    <a class="text-dark text-reset ml-lg-4" href="https://www.linkedin.com/in/elisa-bourg-7848a9171/" target="_blank">Elisa</a>
                </div>
                <div class="mt-3">
                    <a class="text-dark text-reset ml-lg-4" href="https://www.linkedin.com/in/fredreal/" target="_blank">Fred</a>
                    <a class="text-dark text-reset ml-lg-4" href="https://www.linkedin.com/in/ludovic-dureau-b7108a1aa/" target="_blank">Ludovic</a>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.facebook.com/WildCodeSchool/" >
                <i class="fab fa-facebook-f fa-2x text-dark ml-1 ml-md-5"> </i>
            </a>
            <a href="https://twitter.com/WildSchool_Bdx" class="ml-sm-3">
                <i class="fab fa-twitter fa-2x text-dark  ml-1 ml-md-5"></i>
            </a>
            <a href="https://www.linkedin.com/school/wild-codes-chool/" class="ml-sm-3">
                <i class="fab fa-linkedin-in fa-2x text-dark ml-1 ml-md-5"></i>
            </a>
            <a href="https://www.instagram.com/wildcodeschoolofficial/?hl=fr" class="ml-sm-3">
                <i class="fab fa-instagram fa-2x text-dark ml-1 ml-md-5 mr-2"></i>
            </a>
        </div>
    </div>
    <p class="mt-2 text-center font-weight-lighter">© 2020 Tous droits réservés <img src="https://avatars3.githubusercontent.com/u/8874047?s=200&v=4" alt="logo Wild Code School"></p>
</footer>